#content {
    width: 100%;
    height: 100%;
}

.checkerboard {
	margin-top: 50px;
}

.checkerboard.left{
	margin-left: 50px;
	margin-right: 150px;
}

.checkerboard.right{
	margin-left: 150px;
	margin-right: 50px;
}

.left{
	float: left;
}

.right{
	float: right;
}

.square {
    border: 1px solid #777777;
    float: left;
    position: relative;
}

.square.mini {
    float: none;
    position: absolute;
}

.minimap{
	left: 600px;
    top: 400px;
    position: absolute;
}

.arrow {
	color: #962d2d;
	font-size: 3em;
	position: absolute;
	display: inline-block;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.pos {
	color: white;
	font-size: 20px;
}

.toolbar{
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 25px;
	z-index: 10;
}

.btn-group {
	float: right !important;
}

.static-modal.close{
	display: none;
}

.modal-open{
	overflow: scroll;
}

.fa {
	margin-left: 15px;
	margin-right: 15px;
}

.fa:hover {
	color: #962d2d;
	cursor: pointer;
}

.controls{
	margin-left: 100px;
	margin-top: 25px;
}

.options{
	position: fixed;
	top: 0;
	right: 50px;
	z-index: 10;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}